a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

li {
	list-style-type: none;
}

img {
	display: block;
}

ul {
	padding-left: 0px;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}

body {
	margin: 0 auto;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button, select, textarea {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

body {
	font-family: over, sans-serif;
}