@import './variebles.scss';
@import './mixin.scss';

.lock{
    height: 100%;
    overflow: hidden;
}

.section {
    &_menu {
        position: fixed;
        background-color: white;
        height: 100%;
        width: 100%;
        z-index: 998;
        left: -100%;
        transition: 300ms ease-in;
    }
}
header{
    position: relative;
}
.menu {
    padding: 15px;
    &_active{
        position: fixed;
        background-color: white;
        height: 100%;
        width: 100%;
        z-index: 990;
        left: 0;
        transition: 300ms ease-in;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

}

.burger{
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    margin-left:auto;
    z-index: 9999;
    &::before,
    &::after{
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: black;
    }
    &::after{
        bottom: 0;
    }
    &::after,
    &::before{
        transform: rotate(180deg);
        transition-duration: 300ms !important;
    }
    & span{
        position: absolute;
        background-color: black;
        left: 0;
        top: 14px;
        width: 100%;
        height: 2px;
    }
    &_close{
        position: fixed;
        top: 25px;
        right: 35px;            
    }
    &_opened{
        &::before{
            bottom: 13.5px;
            transform: rotate(-45deg);
            transition-duration: 300ms !important;
        }
        &::after{
            top: 13.5px;
            transform: rotate(45deg);
            transition-duration: 300ms !important;
        }
        & span{
            transform: scale(0);
            
        }             
    }
}

@media (max-width:600px){
    nav{
        display: none;
    }
    .burger{
        display: block;
    }
    .logo__logo svg{
        padding: 5px 0;
        height: 50px;
    }
}

@media (max-width:360px){
    .burger{
        width: 30px;
        height: 30px;
        &_close{
            right: 20px;
        }
    }
}