@mixin container($max, $pad, $bg, $br){
    display: flex;
    flex-wrap: wrap;
    padding: $pad;
    margin: 0 auto;
    max-width: $max;
    background-color: $bg;
    border-radius: $br;
}

@mixin button($padd, $bg, $color, $rad){
    background-color: $bg;
    color: $color;
    padding: $padd;
    border-radius: $rad;
    transition: 250ms ease-in;
}

@mixin bg($url){
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

@mixin wallpaper($url){
    background-image: $url;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

@mixin card(){
    background-color: $complementary-color;
    width: 150px;
    height: 400px;
    transform: skewX(-15deg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $main-color;
}

@mixin media($max-width){
    @media(max-width:$max-width){@content}
}