@import './base.scss';
@import './header.scss';
@import './footer.scss';
@import './main/modal.scss';
@import './main/battlefield.scss';
@import './main/sserafim/sserafim.scss';
@import './main/sserafim/skins.scss';
@import './mixin.scss';
@import './variebles.scss';
@import './null.scss';
@import './main/swiper.scss';
@import './heroes/nav.scss';
@import './heroes/hero-card.scss';
@import './menu.scss';