$main-color:#ED6516;
$hover-color:rgb(221, 94, 21);
$complementary-color:#333E48;
$background-color:#9EDCFF;
$soft-blue:#2E618F;
$footer-gradient:radial-gradient(961.89% 387.47% at 50% -6.22%, #333E48 0%, #0D2F4E 0.01%, rgba(87, 168, 242, 0.00) 100%);
