
@import"../variebles.scss";
@import"../mixin.scss";

.backdrop {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    transition: 300ms ease-in;
    z-index: 9999;
    top: 0;
    left: 0;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    transition: 250ms ease-in;  
}

.modal {
    position: relative;
    display: block;
    align-self: center;
    min-width: 528px;
    background-color: white;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: 300ms ease-in;
    @include media(768px){
        max-width: 90vw;
        min-width: 300px;
    }

    @include media(480px){
        width: 80%;
        height: 90%;
        padding: 15px;
        min-width: 300px;
        font-size: 20px;
    }

    @include media(320px){
        width: 80%;
        padding: 5px;
        min-width: 300px;
    }
		&__title {
            margin: 0 auto;
            text-align: center;
            font-size: 48px;
            @include media(480px){
                font-size: 32px;
            }
		}
        &__item{
            margin-bottom: 15px;
        
            &:last-child{
            text-align: center
            }
        }
        &__exit{
            fill: black;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            transition: 250ms ease-in;
            @include media(480px){
                width: 20px;
                height: 20px;
            }
            &:hover{
                transform: rotate(90deg);
                fill: $main-color;
                transition: 250ms ease-in;
            }
        }

		&__label {
		}

        & p{
            margin:  0 auto;
            margin-top: 10px;
            margin-bottom: 5px;
            display: inline-block;
            & a{
                color: $main-color;
            }
        }
		&__input {
            border: 1px solid $complementary-color;
            border-radius: 5px;
            width: 100%;
            font-size: 32px;
            padding: 5px 15px;
            &:focus,
            &:hover{
                border: 1px solid $soft-blue;
                outline: none;
            }
		}
        &__checkbox{
            width: 30px;
            height: 30px;
            border-radius: 30px;
            border: 1px solid $soft-blue;
            display: inline-block;
            &:checked{
                background-color: $main-color;
            }
            
        }

		&__exit-button {
		}
}
